[Unit]
Description=Live Eye Data Capture Service
After=network.target

[Service]
WorkingDirectory=/home/pi/liveeye-data-capture-server
ExecStart=/usr/local/bin/npm run start-socket
Restart=on-failure
RestartSec=60s
User=pi
Environment=PORT=8000

[Install]
WantedBy=multi-user.target